.icon {
  width: 22px;
  height: 22px;
}

.textLogo {
  background-position: 0 -130px;
  height: 51px;
  width: 175px;
}

.inputError {
  background-position: -249px -333px;
}

.inputAccepted {
  background-position: -225px -333px;
}
