.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid #dbdbdb;
  height: 54px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  transition: height 0.2s ease-in-out;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 54px;
  max-width: 975px;
  padding: 0 20px;
  width: 100%;
  z-index: 10;
  transition: height 0.2s ease-in-out;
}

.left {
  display: flex;
  flex: 1 9999 0%;
  min-width: 40px;
}

.navBrand {
  display: flex;
  margin-top: 7px;
  transition: opacity 0.1s ease-out;
}

.center {
  position: relative;
  height: 28px;
  display: flex;
  flex: 0 1 auto;
  min-width: 125px;
  width: 215px;
}

.searchInput {
  font-size: 14px;
  background-color: #fafafa;
  border-radius: 3px;
  border: solid 1px #dbdbdb;
  color: #262626;
  z-index: 2;
  padding: 3px 10px 3px 26px;
  outline: none;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  line-height: 18px;
}

.searchButton {
  background-color: #fafafa;
  border: solid 1px #dbdbdb;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  color: #8e8e8e;
  cursor: text;
  font-size: 14px;
  font-weight: 300;
  position: absolute;
  left: 0;
  padding: 7px;
  top: 0;
  z-index: 2;
  height: 100%;
  box-sizing: border-box;
  width: 100%;
}

.searchPlaceholder {
  display: flex;
  align-items: center;
  gap: 6px;
  left: -5px;
}

.searchPlaceholderText {
  max-width: 140px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
