.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid #dbdbdb;
  height: 54px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  transition: height 0.2s ease-in-out;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 54px;
  max-width: 975px;
  padding: 0 20px;
  width: 100%;
  z-index: 10;
  transition: height 0.2s ease-in-out;
}
