.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
}

.main {
  margin-bottom: 44px;
}

.content {
  margin: 0 0 10px;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  min-width: 350px;
  box-sizing: border-box;
  border-radius: 1px;
  height: fit-content;
}

.body {
  max-width: 350px;
  width: 100%;
  margin-top: 24px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
}

.formContent {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.inputs {
  margin: 0 40px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 6px;
}

.button {
  margin: 8px 40px;
  display: flex;
}

.header {
  margin: 0 44px 16px 44px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  color: #262626;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin: -6px 0 -6px;
}

.instruction {
  color: #8e8e8e;
  font-weight: 400;
  margin: -3px 0 -4px;
}

@media screen and (min-width: 480px) {
  .content {
    border: 1px solid #dbdbdb;
    background-color: white;
  }
}
