.container {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.content {
  background-color: white;
  border: 1px solid #dbdbdb;
  margin: 0 0 10px;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  max-width: 350px;
  box-sizing: border-box;
  border-radius: 1px;
}

.body {
  max-width: 350px;
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
}
